
@font-face {
  font-family: "Sen";
  src: url("./fonts/Sen-Regular.ttf");
}

@font-face {
  font-family: "Sen";
  src: url("./fonts/Sen-Bold.ttf");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Sen';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
